@font-face {
    font-family: 'Proxima Nova Light';
    src: url('fonts/proximanova-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('fonts/proximanova-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova SemiBold';
    src: url('fonts/proximanova-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body { 
  background-color: #000000;
  font-family: "Proxima Nova Regular", "Helvetica", sans-serif;
}

/* Sections */

.section {
    padding: 60px;
    text-align: center;
}

.section h1 {
  font-family: "Proxima Nova SemiBold";
  font-size: 3em;
}

.section p { 
  font-size: 1.5em;
  line-height: 1.8em; 
}

/* Main Section */
.main.section {
    background: url('../images/main_section_background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.main.section img{ height: 250px; }

.main.section h1{
  margin: 50px 0 20px 0;
  color: #6ecddd;
}

.main.section p{ color: #FFFFFF; }

/* About Section */

.about.section { background: #6ecddd; }
.about.section h1 { margin-bottom: 20px; }

/* Social Media */
.social_media.section h1 { margin-bottom: 40px; }
.social_media.section { background: #fafafa; }
.social_media.section img.social_media_icon {
  padding: 30px;
  width: 20%;
  max-width: 250px;
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .social_media.section img.social_media_icon {
    padding: 10px;
    width: 20%;
  }
}

@media screen and (min-width: 0px) and (max-width: 599px) {
  .section h1 {
    font-size: 2em;
  }

  .section p { 
    font-size: 1.0em;
    line-height: 1.5em; 
  }

  .social_media.section img.social_media_icon {
    padding: 20px;
    width: 50%;
  }
}
